body {
    margin: 0;
    background-color: #040b14;
  }
  

.homeDiv{
    color: white;
    display: flex;
    padding:70px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-collection{
    margin-top: 2px;
}

.emptyAcc{
    color:white;
    text-align: center;
    font-size: medium;
    margin-left: 5vw;
}

.homeDiv .card{
    color: white;
    width: 47%;
    margin-left: 15px;
}

/* .home-div-parent{
    color:white;
    margin-top: 20px;
} */

.home-heading{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.card-buttons{
    padding: 8px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 4px;
    height: 5.2vh;
    background-color: #ffd8df;
    color: black;
    min-width: 7vw;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.home-parent{
    width: 100%;
}

.card{
    background: #19232C;
    color:white;
}

.card-header{
    background: #425256;
    color:#f2f2f2;
}
.white-underline{
    color:white;
}

@keyframes colorChange{
    0%{
        background-color: #ffd8df;
        color: black;
    }
	100%{
        background-color: #425256;
        
	}
}
.card-buttons:hover{
    background-color: #425256;
    /* animation: 0.7s colorChange 0s forwards !important; */
}

.home-flex{
    display: flex;
    
}